# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Local Netlify folder
.netlify

# Strapi specific (backend)
backend/.strapi/
backend/.strapi-updater.json
backend/.strapi-cloud.json
backend/exports/
backend/license.txt
backend/public/uploads/*
backend/.tmp/
!backend/public/uploads/.gitkeep
.tsbuildinfo
.eslintcache
