@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  /* Custom Brand Color Scale */
  --color-brand-50: #f9efec;
  --color-brand-100: #f1d8d1;
  --color-brand-200: #e4b3a7;
  --color-brand-300: #d68e7e;
  --color-brand-400: #bb6047;
  --color-brand-500: #9a4128; /* base color */
  --color-brand-600: #883924;
  --color-brand-700: #70301e;
  --color-brand-800: #572618;
  --color-brand-900: #3d1a10;
  --color-brand-950: #230e08;

  --color-secondary-50: #f4f6f4;
  --color-secondary-100: #e5e9e5;
  --color-secondary-200: #cbd3cb;
  --color-secondary-300: #a8b3a8;
  --color-secondary-400: #7f8e7f;
  --color-secondary-500: #4f5d4f; /* base color */
  --color-secondary-600: #414d41;
  --color-secondary-700: #363e36;
  --color-secondary-800: #2d332d;
  --color-secondary-900: #262b26;
  --color-secondary-950: #161916;
}

@font-face {
  font-family: "TitleFont";
  src: url("/fonts/UoqMunThenKhung-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Custom App Colors */
  --color-primary: #9a4128;
  --color-primary-dark: #230e08;
  --color-text: #1a1a1a;
  --color-background: #e8e6e1;
  --color-background-light: #d3d1cc;

  /* Nuxt UI Semantic Color Overrides */
  --ui-text-muted: theme("colors.gray.500");
  --ui-text-highlighted: var(--color-text);
}

body {
  /* RESET */
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3 {
  font-family: "TitleFont";
}

@layer utilities {
  .rounded-frame {
    border-radius: 70px;
  }
}

button {
  cursor: pointer;
}
