@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-brand-50: #f9efed;
  --color-brand-100: #f1d9d3;
  --color-brand-200: #e2b1a6;
  --color-brand-300: #d28978;
  --color-brand-400: #9a4128; /* base color */
  --color-brand-500: #8a3a24;
  --color-brand-600: #793320;
  --color-brand-700: #62291a;
  --color-brand-800: #4c2014;
  --color-brand-900: #32150d;
  --color-brand-950: #1d0b07;
}

@font-face {
  font-family: "TitleFont";
  src: url("/fonts/UoqMunThenKhung-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Brand Colors */
  --color-primary: #a65440;
  --color-primary-dark: #8f4735;

  /* Neutral Colors */
  --color-text: #1a1a1a;
  --color-background: #e8e6e1;
  --color-background-light: #d3d1cc;
}

body {
  /* RESET */
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
}

h1,
h2,
h3 {
  font-family: "TitleFont";
}

section {
  max-width: 1280px;
  margin: 0 auto;
}

@layer utilities {
  .rounded-frame {
    border-radius: 70px;
  }
}
