@font-face {
  font-family: "TitleFont";
  src: url("/fonts/UoqMunThenKhung-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  /* RESET */
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "TitleFont";
}
