@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-brand-50: #f9efec;
  --color-brand-100: #f1d8d1;
  --color-brand-200: #e4b3a7;
  --color-brand-300: #d68e7e;
  --color-brand-400: #bb6047; /* primary color */
  --color-brand-500: #9a4128;
  --color-brand-600: #883924;
  --color-brand-700: #70301e;
  --color-brand-800: #572618;
  --color-brand-900: #3d1a10;
  --color-brand-950: #230e08;

  /* Text Colors */
  --color-black: #1a1a1a;

  /* Background Colors */
  --color-background: #e8e6e1;
}

@font-face {
  font-family: "TitleFont";
  src: url("/fonts/UoqMunThenKhung-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Brand Colors */
  --color-primary: #9a4128;
  --color-primary-dark: #230e08;

  /* Neutral Colors */
  --color-text: #1a1a1a;
  --color-background: #e8e6e1;
  --color-background-light: #d3d1cc;
}

body {
  /* RESET */
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3 {
  font-family: "TitleFont";
}

@layer utilities {
  .rounded-frame {
    border-radius: 70px;
  }
}

button {
  cursor: pointer;
}
