@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-brand-50: #f9f2f1;
  --color-brand-100: #f3e4e0;
  --color-brand-200: #e3bfb7;
  --color-brand-300: #d39a8d;
  --color-brand-400: #c37564;
  --color-brand-500: #a65440;
  --color-brand-600: #8f4637;
  --color-brand-700: #743a2f;
  --color-brand-800: #592e26;
  --color-brand-900: #3d211c;
  --color-brand-950: #24130f;
}

@font-face {
  font-family: "TitleFont";
  src: url("/fonts/UoqMunThenKhung-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Brand Colors */
  --color-primary: #a65440;
  --color-primary-dark: #8f4735;

  /* Neutral Colors */
  --color-text: #1a1a1a;
  --color-background: #e8e6e1;
  --color-background-light: #d3d1cc;
}

body {
  /* RESET */
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
}

h1,
h2,
h3 {
  font-family: "TitleFont";
}

section {
  max-width: 1280px;
  margin: 0 auto;
}
