@font-face {
  font-family: "TitleFont";
  src: url("/fonts/UoqMunThenKhung-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Brand Colors */
  --color-primary: #a65440;
  --color-primary-dark: #8f4735;

  /* Neutral Colors */
  --color-text: #1a1a1a;
  --color-background: #e8e6e1;
  --color-background-light: #d3d1cc;
}

body {
  /* RESET */
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "TitleFont";
}

section {
  max-width: 1280px;
  margin: 0 auto;
}
